
body {
    display: flex;
  justify-content: center;
  align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    display: flex;
  justify-content: center;
  align-items: center;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}
button {
    padding: 5px 15 px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 50px;
    font-size: large;
}
button:hover {
    background-color: #218838;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60PX;
}

.toggle-button {
  position: relative;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #ddd;
  border-radius: 25px;
  overflow: hidden;
  font-family: sans-serif;
}

.option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s ease;
  z-index: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.result-scale {
    height: 20px;
    width: 240px;
    background: linear-gradient(to right,
    rgba(0, 0, 255, 0.9),
    rgba(0, 255, 0, 0.9),
    rgba(255, 0, 0, 0.9)
);
    border-radius: 10px;
}

.scale-pointer {
  width: 20px;
  height: 15px;
  background-color: rgba(80, 80, 80, 0.8);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  rotate: 180deg;
  margin-bottom: -10px;
  margin-left: -10px;
  transition: margin 700ms
}
#result {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    white-space: pre-line;
    text-align: center;
}
.result-container {
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in 0.5s;
}